@font-face {
  font-family: Vazir;
  src: url('./vazir/Vazir.eot');
  src: url('./vazir/Vazir.eot?#iefix') format('embedded-opentype'),
       url('./vazir/Vazir.woff') format('woff'),
       url('./vazir/Vazir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('./vazir/Vazir-Bold.eot');
  src: url('./vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('./vazir/Vazir-Bold.woff') format('woff'),
       url('./vazir/Vazir-Bold.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: Vazir;
  src: url('./vazir/Vazir-Light.eot');
  src: url('./vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('./vazir/Vazir-Light.woff') format('woff'),
       url('./vazir/Vazir-Light.ttf') format('truetype');
  font-weight: 100;
}
.c-font-vazir{
    font-family: 'Vazir';
}
cFontVazir{
    font-family: 'Vazir';
}